.Nominations {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1643px;
  z-index: 87;
}
#nom_title {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1643px;
  z-index: 86;
}
.Nominations_____0_5_ {
  font-size: 36px;
  font-family: "Serenity";
  color: rgb(255, 255, 255);
  line-height: 1.889;
  text-align: center;
  position: absolute;
  left: 175.937px;
  top: 420.776px;
  z-index: 85;
}
.reset_btn {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1643px;
  z-index: 83;
}
.RESET {
  font-size: 36px;
  font-family: "Serenity";
  color: rgb(255, 255, 255);
  line-height: 1.889;
  text-align: left;
  position: absolute;
  left: 1590.937px;
  top: 472.998px;
  z-index: 82;
}
.btn {
  background-color: rgb(255, 0, 0);
  position: absolute;
  left: 1530px;
  top: 464px;
  width: 229px;
  height: 79px;
  z-index: 81;
}
.submit_btn {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1643px;
  z-index: 79;
}
.SUBMIT {
  font-size: 36px;
  font-family: "Serenity";
  color: rgb(255, 255, 255);
  line-height: 1.889;
  text-align: left;
  position: absolute;
  left: 1583.909px;
  top: 591.998px;
  z-index: 78;
}
.btn {
  background-color: rgb(30, 21, 211);
  position: absolute;
  left: 1530px;
  top: 586px;
  width: 229px;
  height: 79px;
  z-index: 77;
}
.remove_btn {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1643px;
  z-index: 75;
}
.x {
  font-size: 32px;
  font-family: "Serenity";
  color: rgb(255, 255, 255);
  line-height: 2.125;
  text-align: left;
  position: absolute;
  left: 385.755px;
  top: 397px;
  z-index: 74;
}
.btn {
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  position: absolute;
  left: 373px;
  top: 412px;
  width: 43px;
  height: 43px;
  z-index: 73;
}
#nominated {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1643px;
  z-index: 71;
}
._ {
  background-image: url("?.png");
  position: absolute;
  left: 207px;
  top: 421px;
  width: 198px;
  height: 265px;
  z-index: 70;
}
#nominations_container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1643px;
  z-index: 68;
}
.Rounded_Rectangle_1 {
  border-radius: 30px;
  background-color: rgb(182, 182, 182);
  opacity: 0.4;
  position: absolute;
  left: 136px;
  top: 354px;
  width: 1670px;
  height: 398px;
  z-index: 67;
}
